*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("marmol.jpg");
    
    background-repeat: no-repeat;
    
    }
    
    .fondoingles2{
    
        background-image: url("galaxia.jpg");
        
        background-repeat: no-repeat;
        background-size: 5000px;

        
        }
    
    
        .fondobiologia2{
    
            background-image: url("hoja.jfif");
            
            background-repeat: no-repeat;
            background-size: cover;

        }

        .fondomatematicas2{
    
            background-image: url("planeta.jpg");
            
            background-repeat: no-repeat;
            background-size: cover;
            
            }
        
            .fondosociales2{
    
                background-image: url(".jpg");
                
                background-repeat: no-repeat;
                background-size: cover;
               }

  .fondotecnologia2{
    
                background-image: url("pluton.jpg");
                
                background-repeat: no-repeat;
                background-size: cover;
                
                }


                
                .fondorelijion2{
    
                    background-image: url("mariposa.jpg");
                    
                    background-repeat: no-repeat;
                    background-size: cover;
                    
                    }


        

    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     background: image();
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }

    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .imagensociales2{
        
         
        
        background-repeat: no-repeat;
        
        float: left ;
        
        height: 200px;
        
        width: 100px;
        
        margin-left: 5px;
        
        margin: right 30px;
        
        background-image: url("francia.jfif");
        
        }
        
        
        
        .textosociales2{
        
        text-align: justify ;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }

        .img{
            position: relative;
            width: 190px;
            height: 190px;
            border-radius: 10px;
            background-repeat: no-repeat;
            left: 180px;
            background-image: url("medellin.jpeg");}
                
            .contenedor{
            background: image();
            height: 230px;}
                
            .texto{
            font-size: 40px;
            text-align: justify;
            color: brown;}
            
            .contenido{
            height: 280px;
            width: 100%;
            position: absolute;
            top: 410px;}
            
            .imageningles2{
            background-repeat: no-repeat;
            float:left;
            height: 200px;
            width: 260px;
            margin-left: 5px;
            margin-right:5px;
            background-image: url("carros.jpg");}
                 
            .textoingles2{
            text-align: justify;
            color: azure;
            font-size: 20px;}



    